#header-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #111;
  max-width: 1808px;
  max-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#open-header-container {
  position: fixed;
  right: 0;
  left: 230px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  max-width: 1808px;
  max-height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#white-logo {
  min-width: 80px;
  max-width: 125px;
  min-height: 30px;
  max-height: 45px;
  margin: 15px;
}
.white-logo-icon {
  width: 25px;
  min-height: 25px;
  margin: 15px;
}

.navbar-container div {
  color: white;
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 28px 17px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #d9dadc;
}

.nav-link:hover {
  color: #1ed760;
}
