.song {
  position: relative;
  display: flex;
  margin-top: 2px;
  background: black;
  margin-left: 30px;
}

.song-item-info {
  align-self: center;
  margin-left: 14px;
}

.search-input {
  width: 275px;
  padding: 13px 34px 13px 50px;
  background: white;
  border-radius: 25px;
  font-size: 14px;
  position: fixed;
  top: 15px;
  left: 255px;
  z-index: 1500;
}

.song:hover {
  cursor: pointer;
  transition: 0.5s ease;
  background: #323232;
}

.play-button {
  position: absolute;
  right: 18px;
  top: 28px;
  display: none;
  color: green;
  font-size: 30px;
  cursor: pointer;
}

.song:hover .play-button {
  display: block;
}

.song-title {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  color: white;
}

.song-artist {
  margin-top: 4px;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 100;
  text-align: left;
  color: white;
}

.song-artist:hover {
  text-decoration: underline;
}

.song-photo {
  width: 75px;
  height: 75px;
}

.songs-list {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.songs-list-title {
  color: white;
  font-size: 24px;
  margin-top: 18px;
  margin-left: 14px;
}
