/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*  
css styling
      - header: 
        - logo: white #ffffff
        - link: white
        - link: hover #1ed760
        - background-color: rgba(0, 0, 0, 0.6)
      - h1 
        - font 80px
      - .index-homepage h1
        letter-spacing: -0.04em;
        line-height: 1.15;
        margin-top: 0
        - font-weight: 900;
      - h4
        - font-size: 18px;
        - font-weight: 400;
      - p, h4 {
          margin: .5em 0 1em;
      - "get spotify free" button
        - hover: #1ED760
      
      - footer
        - background black #000
        - link: white
        - link: hover #1ed760
      - user dashboard: 
        - "spotify premium button"
          - medium green: #1db954
        -  background
          - sandybrown: #f2b757
        - link
            - white #ffffff
        - link:hover
          darkslateblue: #2d46b9 --> */