.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transform: translate(-50%, -50%);
}

.create-playlist-modal {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.btn-transparent {
  width: 32px;
  background: transparent;
  align-self: center;
  padding: 13px;
}
.transparant-header {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  text-transform: none;
  margin: 24px 0;
}
#create-playlist-input-container {
  width: 100%;
  background-color: #282828;
  padding: 0 20%;
}

#create-playlist-input-box {
  position: relative;
  background-color: #282828;
  padding: 32px 0;
}
#playlist-name-spacing {
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
}
.playlist-name-input-field {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #fff;
  text-transform: none;
  caret-color: #1db954;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
}

#form-buttons-container {
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

#cancel-button-container {
  padding: 0 10px;
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  min-height: 30px;
}

.cancel-button {
  padding: 11px 44px;
  background: rgba(24, 24, 24, 0.7);
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
  box-shadow: inset 0 0 0 2px #b3b3b3;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
}
#create-button-container {
  padding: 0 10px;
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  min-height: 30px;
}

.create-button {
  padding: 11px 44px;
  background: #1db954;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
  box-shadow: inset 0 0 0 2px #b3b3b3;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
}
