.playlist-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.playlist-container h4 {
  font-size: 11px;
  line-height: 16px;
  padding: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.16em;
}

.plus-icon {
  height: 18px;
  width: 20px;
}

.divider {
  margin: 8px;
  border-color: #282828;
}

#playlists-items-container {
  overflow: auto;
  height: calc(100% - 375px);
}

.playlists-item-container {
  text-indent: 0px;
  padding-right: 30px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 8px 0px 8px 35px;
}

.playlist {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 14px;
  width: 16px;
}

.playlist:hover {
  color: white;
}
