.root-navBar {
  height: 100%;
  width: 230px !important;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.open-player {
  height: 100%;
}

.sidebar-container {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 4, 4);
  z-index: 5;
  -webkit-font-smoothing: antialiased;
}


#navBar {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.015em;
}

.navBar-link {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: bold;
  color: #b3b3b3;
}

.navBar-link:hover {
  color: white;
}

.white-logo-nav {
  padding: 20px;
  height: 40px;
  width: 100px;
}

.home-icon {
  height: 18px;
  width: 20px;
}

.magGlass-icon {
  height: 18px;
  width: 20px;
}

.llibary-icon {
  height: 18px;
  width: 20px;
  padding-right:px;
}

.navBar-item {
  padding: 7px;
  margin-left: 8px;
}
.navBar-item:hover {
  opacity: 1;
}

