.root-navBar {
  min-height: 1050px;
  width: 230px !important;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.sidebar-container {
  width: 230px;
  height: 100%;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 4, 4);
  z-index: 5;
  -webkit-font-smoothing: antialiased;
}

#navBar {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.015em;
}

.navBar-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
}

.navBar-link:hover {
  color: white;
}

.white-logo-nav {
  padding: 20px;
  height: 40px;
  width: 100px;
}

.home-icon {
  height: 18px;
  width: 20px;
}

.magGlass-icon {
  height: 18px;
  width: 20px;
}

.navBar-item {
  display: block;
  padding: 7px;
  margin-left: 8px;
}
.navBar-item:hover {
  opacity: 1;
}

.library-icon {
  height: 18px;
  width: 20px;
}

.navBar-item img {
  padding: 0px 18px;
}
