#app-container {
  height: 100vh;
  margin: 0;
  background: rgba(248, 195, 73);
  overflow: auto;
}

#colorsplash {
  width: 100%;
  height: 100%;
  background: radial-gradient(
      farthest-side at bottom left,
      rgba(242, 102, 137, 0.5),
      transparent 600px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(245, 151, 106, 1.5),
      transparent 600px
    ),
    radial-gradient(at top right, rgba(245, 151, 106, 0.75), transparent 800px),
    radial-gradient(
      circle at center,
      rgba(245, 151, 106, 1.25),
      transparent 800px
    ),
    radial-gradient(at top left, rgba(242, 102, 137, 0.75), transparent 800px);
  display: flex;
  justify-content: center;
}

#splash-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  #splash-container h1 {
    font-size: 80px;
  }
}

@media (min-width: 768px) {
  #splash-container h1 {
    font-size: 64px;
  }
}

#splash-container h1 {
  -webkit-font-smoothing: antialiased;
  color: white;
  letter-spacing: -0.04em;
  line-height: 1.15;
  margin-top: 0;
  font-weight: 900;
}

#splash-container h4 {
  -webkit-font-smoothing: antialiased;
  padding: 20px 0px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

#splash-container h4 p {
  margin: 0.5em 0 1em;
}

.launch-web-player-bttn {
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  color: white;
  background: #1db954;
  margin: 1;
  padding: 16px 48px 18px;
}

.launch-web-player-bttn:hover {
  background: #1ed760;
}

/*  
css styling
      - header: 
        - logo: white #ffffff
        - link: white
        - link: hover #1ed760
        - background-color: rgba(0, 0, 0, 0.6)
    
      - footer
        - background black #000
        - link: white
        - link: hover #1ed760
      - user dashboard: 
        - "spotify premium button"
          - medium green: #1db954
        -  background
          - sandybrown: #f2b757
        - link
            - white #ffffff
        - link:hover
          darkslateblue: #2d46b9 */
